@import url('https://fonts.googleapis.com/css?family=Baloo');

h1, h2 {
  font-family: 'Baloo', cursive;
}

.navbar-brand {
    float: left;
    font-family: 'Baloo';
    padding: 14.5px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 50px;
}

.navbar-inverse {
    background-color: #090909;
    border-color: #ffffff;
}

.navbar-inverse .navbar-brand {
  color: white;
}
